@charset "UTF-8";

@font-face {
	font-family: 'PacificaCondensed';
	src: url("fonts/Pacifica Condensed Regular.ttf");
}

/*ブラウザスタイルのリセット*/
body,h1,h2,h3,p,address,table,thead,tbody,th,td,input,ul,li{
font-family:"メイリオ";
line-height:1.5em;
margin:0px;
padding:0px;
font-style:normal;
text-align:justify;
list-style: none;
}

body{
background: black;
}
#wrap{
    width: 900px;
    background: url(images/4e1711_faa2940bdb9245399baf062fb1a107b4.png);
    background-repeat: no-repeat;
    background-position-x: -500px;
    background-attachment: fixed;
    padding:20px;  
    margin:20px auto;
}

h1{ 
   background: black; 
   border:solid 5px #2D2525;
   width:260px;
   height:160px;
   margin-bottom: 20px;
}
h1 p{
   color:white;
   text-align: center;
   font-family:PacificaCondensed,fantasy;
   text-shadow: 0px 0px 10px  white;
   margin: 5px;
   font-size: 30px;
}
#logo{
    background:url(images/4e1711_d430bfd5532c458189700802859ae478-mv2.png);
    background-size: 100%;
    background-position: 1px,1px;
    width:70px;
    height: 70px;
    border-radius: 40%;
    margin:2px auto;
    
}
#main{
    /*background-color:pink;*/
    width:840px;
    padding:30px;
    background:rgba(0 ,0,0,0.5);
    border: solid 1px #860;
    margin-bottom: 20px;
}
.column{
    width:800px;
    background: black;
    padding:20px;
    border: solid 1px #960;
    margin-bottom: 20px;
}

.column h2{
    color: #F3E2A9;
    margin-bottom: 1em;
}
.column p, .column li{
    color:white;
}


#before_settings li{
    float: left;
}
#before_settings li select{
    margin-right: 2em;
}
#count_table{
    clear: both;
}
#tax_value{
    text-align: right;
}

th,td{
    margin:5px;
    padding:4px;
    white-space: nowrap;
}

td{
    text-align: right;
}

#table_head tr th {
text-align: center;
background: #fff;
}

#table_body tr{
    background: #fff;
}
#table_body tr:nth-child(odd){
    background: #F3E2A9;
}

#name{
    text-align: left;
    width: 150px;
}

#number{
    padding-top: 0.0em;
    padding-bottom: 0.0em;
    width: 150px;
}
#number input{
    width:130px;
}
input{
    line-height: 1em;
    font-size: 1em;
    margin-right: 0.5em;
    text-align: right;
}

#table_body #price{
    width: 120px;
}
#table_body #sum,#table_body #taxed{
width: 122px;
}
#footer{
    background: black;
}

#footer p,#footer address a , #footer address{
    text-align: center;
    color: White;
}